.card {
    display: block;
    max-width: 350px;
    margin:1em;
    padding:1em;
    background-color: rgb(104, 95, 146);
    margin: 0 auto;
    border: double;
    border: rosybrown;
    border-style: solid;
    border-radius: 10px;
}

.card-img-top {
    display: block;
    max-width: 100%;
    margin:1em;
    padding:1em;
    margin:auto;
    border-radius: 12%;
}